body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#navigation {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

#nihead {
  width: 70em;
  animation: spin 7s linear infinite;
  display: block;
  margin: 0 auto;
  transform-origin: center center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.soundCard {
  cursor: pointer;
}
